<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style type="text/css">

		</style>
	</head>
	<body>

	<div id="history-table-wrap" class="container">
		<h1>History Orders of {{username}}</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Time</td>
					<td>Sold Quantity</td>
					<td>PnL</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			{% for order in orders %}
			<tr>
				<td class='time'>2016.Dec.02</td>
		        <td class='Original quantity'>{{ order.original_quantity }}</td>
		        <td class='pnl'>{{ order.pnl }}</td>
		        <td class='status'>{{ order.status }}</td>
		    </tr>
		    {% endfor %}
		    </tbody>
	    </table>
	</div>
		

	</body>

	{# [{"model": "users.orderhistory", "pk": 17, "fields": {"original_quantity": 1000, "order_size": 200, "order_discount": 5.0, "trading_logs": null, "remaining_quantity": 1000, "pnl": 0.0, "status": "In_Progress", "user": 1}}] #}
</html>