<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>




{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


<script src="https://d3js.org/d3.v3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>



<div class="container-fluid">
  <h1>Welcome to JP Morgan Trader's Dashboard</h1>

  <div class='left-col'>
    <h2 class="form-signin-heading">Make order here</h2>
    <div>
      <div class="form-group">
        <label for="ParentOrder">Total Quantity (Parent Order)</label>
        <input type="text" class="input-block-level form-control" placeholder="Quantity" name="Quantity" id="quantity">
      </div>
      <div class="form-group">
        <label for="ChildOrder">Order Size (Child Order)</label>
        <input type="text" class="input-block-level form-control" placeholder="Order size" id="order_size">
      </div>
      <div class="form-group">
        <label for="Discount">Discount</label>
        <input type="text" class="input-block-level form-control" placeholder="Discount" name="Discount" id="discount">
      </div>
    </div>

    <!-- <button class="btn btn-large btn-primary" type="submit" onclick="WebSocketTest()">Make order</button> -->
    <button class="btn btn-large btn-primary" type="submit" id="make-order-btn">Make order</button>
  
    <div id="input-error-message"></div>
  </div>

  <div class="right-col">

    <!-- visualization should be implemented here -->
    <!-- <svg id="test-chart"></svg>
    <div class="container-fluid" >
      <p id="realtime-log"></p>
    </div> -->

    <script>(function() {

    var n = 243,
        duration = 1000,
        now = new Date(Date.now() - duration),
        count = 0,
        // a list of tuple with format (price, timestamp)
        data = d3.range(n).map(function() { return 0; });

    var margin = {top: 6, right: 0, bottom: 20, left: 40},
        width = 960 - margin.right,
        height = 120 - margin.top - margin.bottom;

    var x = d3.time.scale()
        .domain([now - (n - 2) * duration, now - duration])
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    var line = d3.svg.line()
        .interpolate("basis")
        .x(function(d, i) { return x(now - (n - 1 - i) * duration); })
        .y(function(d, i) { return y(d); });

    var svg = d3.select(".right-col").select("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .style("margin-left", margin.left + "px")
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("defs").append("clipPath")
        .attr("id", "clip")
      .append("rect")
        .attr("width", width)
        .attr("height", height);

    var axis = svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(x.axis = d3.svg.axis().scale(x).orient("bottom"));

    var path = svg.append("g")
        .attr("clip-path", "url(#clip)")
      .append("path")
        .datum(data)
        .attr("class", "line");

    var transition = d3.select({}).transition()
        .duration(duration)
        .ease("linear");

    // d3.select(window)
    //     .on("scroll", function() { ++count; });

    (function tick() {
      transition = transition.each(function() {

        // update the domains
        now = new Date();
        x.domain([now - (n - 2) * duration, now - duration]);
        y.domain([0, d3.max(data)]);

        // push the accumulated count onto the back, and reset the count
        data.push(Math.min(30, count));

        count = 0;

        // redraw the line
        svg.select(".line")
            .attr("d", line)
            .attr("transform", null);

        // slide the x-axis left
        axis.call(x.axis);

        // slide the line left
        path.transition()
            .attr("transform", "translate(" + x(now - (n - 1) * duration) + ")");

        // pop the old data point off the front
        data.shift();

      }).transition().each("start", tick);
    })();

    })()</script>
  </div>

</div>


<script type="text/javascript" src="{% static 'dashboard.js' %}"></script>
<script type="text/javascript">
	
// d3.json()

{% autoescape off %}
// var data = {{apple}}
{% endautoescape %}

</script>


</body>

</html>