<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style type="text/css">
.left-col{
  float: left;
  width: 20%;
  max-width: 430px;
}

.right-col{
  float: left;
  width: 80%;
  height: 400px;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.x.axis line {
  shape-rendering: auto;
}

path.domain{
  /*stroke-width: 1.5px;*/
  fill: none;
  shape-rendering: crispEdges;
}


#realtime-log{
  margin-top: 20px;
  margin-left: 65px;
  height: 100px;
  overflow: scroll;
}

.instrument_ids{
  margin-left: 78px;
}


</style>

<script src="https://d3js.org/d3.v3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>



<div class="container-fluid">
  <h1>Welcome to JP Morgan Trader's Dashboard</h1>

  <div class='left-col'>
    <h2 class="form-signin-heading">Make order here</h2>
    <div>
<!--       <div class="form-group">
        <label for="stockID">Instrument ID</label>
        <input type="text" class="input-block-level form-control" placeholder="Instrument ID" name="Instrument_id" id="instrument_id">
      </div> -->
      <div class="form-group">
        <label for="ParentOrder">Total Quantity (Parent Order)</label>
        <input type="text" class="input-block-level form-control" placeholder="Quantity" name="Quantity" id="quantity">
      </div>
      <div class="form-group">
        <label for="ChildOrder">Order Size (Child Order)</label>
        <input type="text" class="input-block-level form-control" placeholder="Order size" id="order_size">
      </div>
      <div class="form-group">
        <label for="Discount">Discount</label>
        <input type="text" class="input-block-level form-control" placeholder="Discount" name="Discount" id="discount">
      </div>
    </div>

    <!-- <button class="btn btn-large btn-primary" type="submit" onclick="WebSocketTest()">Make order</button> -->
    <button class="btn btn-large btn-primary" type="submit" id="make-order-btn">Make order</button>
  </div>

  <div class="right-col">

    <!-- visualization should be implemented here -->
    <!-- <svg id="test-chart"></svg>
    <div class="container-fluid" >
      <p id="realtime-log"></p>
    </div> -->

    <script>(function() {

    var n = 243,
        duration = 1000,
        now = new Date(Date.now() - duration),
        count = 0,
        // a list of tuple with format (price, timestamp)
        data = d3.range(n).map(function() { return 0; });

    var margin = {top: 6, right: 0, bottom: 20, left: 40},
        width = 960 - margin.right,
        height = 120 - margin.top - margin.bottom;

    var x = d3.time.scale()
        .domain([now - (n - 2) * duration, now - duration])
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    var line = d3.svg.line()
        .interpolate("basis")
        .x(function(d, i) { return x(now - (n - 1 - i) * duration); })
        .y(function(d, i) { return y(d); });

    var svg = d3.select(".right-col").select("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .style("margin-left", margin.left + "px")
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("defs").append("clipPath")
        .attr("id", "clip")
      .append("rect")
        .attr("width", width)
        .attr("height", height);

    var axis = svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(x.axis = d3.svg.axis().scale(x).orient("bottom"));

    var path = svg.append("g")
        .attr("clip-path", "url(#clip)")
      .append("path")
        .datum(data)
        .attr("class", "line");

    var transition = d3.select({}).transition()
        .duration(duration)
        .ease("linear");

    // d3.select(window)
    //     .on("scroll", function() { ++count; });

    (function tick() {
      transition = transition.each(function() {

        // update the domains
        now = new Date();
        x.domain([now - (n - 2) * duration, now - duration]);
        y.domain([0, d3.max(data)]);

        // push the accumulated count onto the back, and reset the count
        data.push(Math.min(30, count));

        count = 0;

        // redraw the line
        svg.select(".line")
            .attr("d", line)
            .attr("transform", null);

        // slide the x-axis left
        axis.call(x.axis);

        // slide the line left
        path.transition()
            .attr("transform", "translate(" + x(now - (n - 1) * duration) + ")");

        // pop the old data point off the front
        data.shift();

      }).transition().each("start", tick);
    })();

    })()</script>
  </div>

</div>

<script type="text/javascript">
	
// d3.json()

{% autoescape off %}
// var data = {{apple}}
{% endautoescape %}

'use strict';

// Create a name space 
let JPTrader = {
  // current orders array saves an object in each element with one attribute id 
  // and a method binded on the corresponding div 
  currentOrders  : [],
  finishedOrders : []
};


/**
a function that is called by clicking the button
@param none
@return
*/
JPTrader.makeOrder = function(){

  console.log(this);

  // validate inputs
  const orderInput = this.validateOrderInput();
  if(orderInput === null) return;
  
  // generate an ID
  let orderId = this.currentOrders.length + this.finishedOrders.length;

  orderId = orderId.toString();
  orderInput["instrument_id"] = orderId;

  console.log(orderInput);
  // send with socket.

  this.sendWithSocket(orderInput);

}

/**
A function that clear all the content in the form
Should be used as a call back only after we sent the request...
@param {None}
@return {None}
*/
JPTrader._clearForm = function(){
  // document.getElementById("instrument_id").value = "";
  document.getElementById("quantity").value   = "";
  document.getElementById("discount").value   = "";
  document.getElementById("order_size").value = "";
}


/**
Validate form value, include checking missing data and mal-format data.
@param non
@return a json object
*/
JPTrader.validateOrderInput = function(){

  // const result = {};
  const DATA_FIELDS = [/*"instrument_id",*/ "quantity", "order_size", "discount"];
  var errorMessage = [];

  // Validate Quantity
  let quantity = parseInt(document.getElementById("quantity").value);
  if(isNaN(quantity)) errorMessage.push("Your quantity is not a valid number");
  if(quantity <= 0) errorMessage.push("Your quantity should be a positive number");

  // Validate order size
  let orderSize = parseInt(document.getElementById("order_size").value);
  if(isNaN(orderSize)) errorMessage.push("Your order size is not a valid number");
  if(orderSize <= 0) errorMessage.push("Your order size should be a positive number");
  if(orderSize > quantity) errorMessage.push("Your child order size is bigger than total quantity");

  // Validate discount
  let discount = parseInt(document.getElementById("discount").value);
  if(isNaN(discount)) errorMessage.push("Your discount is not a valid number");
  if(discount < 0 || discount > 100) errorMessage.push("Your discount should in 0-100");

  if (errorMessage.length > 0) {
    // Insert the error message some where so the user can see...
    console.log(errorMessage);
    return null;
  }
  else{

    const result = {
      "quantity": quantity,
      "order_size": orderSize,
      "order_discount": discount
    };

    return result;
  }

}


/**
A function that checks the existence of websocket, if not init, init it. Otherwise, use it.
@param {None}
@return {undefined}
*/
JPTrader.sendWithSocket = function(orderData){

  console.log(this);

  let sendMessage = function(){

    console.log('Message is sent...');
    this.ws.send( JSON.stringify( orderData) );
    
    /* WORK IN PROGRESS */
    // a temp function to add a label into the realtime view for demo use...
    // need to re-implement in the future...

    // Make div space for a order...
    const orderWrap = document.createElement("div");
    orderWrap.className = 'order-wrap';
    orderWrap.setAttribute("id", orderData["instrument_id"]);

    const titleLabel = document.createElement("h3");
    // title_label.innerHTML = document.getElementById("instrument_id").value;
    titleLabel.className = "order-title";

    const chartWrap = document.createElement("div");
    chartWrap.setAttribute("class", "order-chart");

    const orderProgress = document.createElement("p");
    orderProgress.setAttribute("class", "realtime-log");

    orderWrap.appendChild(titleLabel);
    orderWrap.appendChild(chartWrap);
    orderWrap.appendChild(orderProgress);

    document.getElementsByClassName("right-col")[0].appendChild(orderWrap);
    // document.getElementsByClassName("right-col")[0].insertBefore(title_label, document.getElementById("test-chart"));

    let dataHandler = this.dataHandler.bind(orderWrap);

    this.currentOrders.push({
      "instrument_id": orderData["instrument_id"],
      "handler": dataHandler
    });

    this._clearForm();

  };

  
  if(typeof this.ws === 'undefined'){
    this.initWebSocket(sendMessage.bind(this));
  }
  else{
    sendMessage.call(this);
  }

}



JPTrader.initWebSocket = function(callback){

  if("WebSocket" in window){

    // open a websocket
    this.ws = new WebSocket("ws://" + window.location.host + "/chat/");
    this.ws.onopen = function(){
      callback();
    };

    this.ws.onmessage = function(evt){ 

      console.log("in on message");
      console.log(this);

      let receivedMessage = evt.data;
      receivedMessage = JSON.parse(receivedMessage);
      // alert("Message is received...");
      console.log(receivedMessage);
      console.log("message received!");
      
      /* WORK IN PROGRESS */
      /** Recieve different kind of information from server should be done here */

      // find corresponding handler from current orders array
      const _currentOrders = JPTrader.currentOrders;
      console.log('Check _current Orders');
      console.log(_currentOrders);

      for (let i = 0; i < _currentOrders.length; i++){

        // console.log(_currentOrders[i]["instrument_id"]);
        // console.log(typeof _currentOrders[i]["instrument_id"]);
        // console.log(receivedMessage['id']);
        // console.log(typeof receivedMessage['id']);

        if (_currentOrders[i]["instrument_id"] === receivedMessage["id"].toString()){
          _currentOrders[i].handler(receivedMessage);
        }
      };

     };

     this.ws.onclose = function(){ 

        // websocket is closed.
        console.log("connection closed");
     };
  }
  else{
    console.log("websocket is not supported by the browser...");
    // alert("WebSocket NOT supported by your Browser!");
  }




}








/**********************************************/
/* Functions that might have to be removed... */
/**********************************************/


JPTrader.dataHandler = function(d){
  
  // this in this function should be a div of order-wrap class
  console.log('in dataHandler');
  console.log(d);

  var dataType = d['message_type'];
  var timestamp = d['timestamp'];

  let p = this.querySelector("p.realtime-log");
  console.log('Check p:');
  console.log(p);

  if (dataType === "quote"){
    let quote = d["quote"];
    p.innerHTML = p.innerHTML + "<span>quote:" + quote.toString() + "</span><br>";

  }else if(dataType === "sold_message"){
    const soldPrice = d['sold_price'];
    const remainingQuantity = d['remaining_quantity'];
    p.innerHTML = p.innerHTML + "<span>sold price:" + soldPrice.toString() + ", Remaining: " + remainingQuantity.toString() + "</span><br>";
  }

  p.scrollTop = p.scrollHeight;

}


// var updateProgress = dataHandler.bind(document.getElementById("realtime-log"));


/**
A function to setup all the interactions, linkage and connections
*/
JPTrader.init = function(){

  document.getElementById("make-order-btn").addEventListener("click", this.makeOrder.bind(this) );
  
  window.onbeforeunload = function(){
    JPTrader.ws.close();
  }

};

JPTrader.init();





</script>


</body>

</html>