.left-col{
  float: left;
  width: 20%;
  max-width: 430px;
}


#input-error-message{
  color: red;
}

.right-col{
  float: left;
  width: 80%;
  height: 400px;
}

div.order-wrap{
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;

}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.x.axis line {
  shape-rendering: auto;
}

path.domain{
  /*stroke-width: 1.5px;*/
  fill: none;
  shape-rendering: crispEdges;
}


#realtime-log{
  margin-top: 20px;
  margin-left: 65px;
  height: 100px;
  overflow: scroll;
}

.instrument_ids{
  margin-left: 78px;
}
