
.left-col{
  float: left;
  width: 20%;
  max-width: 430px;
}


#input-error-message{
  color: red;
}

.right-col{
  float: left;
  width: 80%;
  height: 400px;
}

div.order-wrap{
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;

}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.x.axis line {
  shape-rendering: auto;
}

path.domain{
  /*stroke-width: 1.5px;*/
  fill: none;
  shape-rendering: crispEdges;
}


#realtime-log{
  margin-top: 20px;
  margin-left: 65px;
  height: 100px;
  overflow: scroll;
}

.instrument_ids{
  margin-left: 78px;
}

.trade-detail{
  /*display: none;*/
}

.trade-detail:hover{
  cursor: pointer;
}

.collapse-row:hover{
  cursor: pointer;
}

.trade-detail:last-of-type{
  display: table-row;
}

img[src$='more.png']{
  height: 24px;
}


div.delta-box{
  display: inline-block;
  float: right;
}

div.pos-delta{
  color: green;
}

div.neg-delta{
  color: red;
}

div.neg-delta:before{
  content: "(";
}
div.neg-delta:after{
  content: ")";
}


/* Layout new Design overwriting Bootstrap */
.form-control{
  width: 86%;
  background-color: #222222;
  border: 1px solid #666666;
  border-radius: 0;
}

.navbar{
  margin-bottom: 0px;
  min-height: 44px;
}

.navbar-brand{
  height: 40px;
}

.navbar-text{
  margin-top: 13px;
  margin-bottom: 11px;
}

.navbar-nav > li > a{
  padding-top: 5px;
  padding-bottom: 5px;
}